
#root {

	margin:0 auto;
	width:80%;
	font-family:'Tahoma','Arial','sans-serif';
	font-size:1.8em;
	font-weight:900;

}



.sudokuCell input, .sudokuCellWrong input{

	width:55px;
	height:55px;
	text-align:center;
	border:5px black solid;
	font-family:'Tahoma','Arial','sans-serif';
	font-size:1.4em;
	font-weight:900;
	

}

.sudokuCellWrong input{
	background-color: rgba(230,34,34,0.5);
}

.board {

	display: grid;

	column-gap:0px;

	row-gap:-10px;
	grid-template-columns: repeat(9,60px);

}

.buttons{
	
	display:flex;
	flex-direction: row;

}
