
#root {

	margin:0 auto;
	width:80%;
	font-family:'Tahoma','Arial','sans-serif';
	font-size:1.8em;
	font-weight:900;
	text-align:center;

}

p {
	font-size:1.8em;
}

.choose {
	text-align:center;	
}

button {

	font-family:'Tahoma','Arial','sans-serif';
	font-size:1em;
	font-weight:700;
	padding:20px;
	margin:10px;
	background-color:black;
	color:white;
	border:none;
	border-radius:20px;
	

}

.sudokuCell input, .sudokuCellWrong input{
	width:64px;
	height:64px;
	border:none;
	padding:0;
	outline:none;
	text-align:center;
	font-family:'Tahoma','Arial','sans-serif';
	font-size:1.2em;
	font-weight:900;

}
.sudokuCell,.sudokuCellWrong {
	display:flex;
	justify-content: center;
	align-items:center;
	width:64px;
	height:64px;
	border:3px black solid;
}

.sudokuCellWrong input{
	background-color: rgba(230,34,34,0.5);
}


.board {

	margin:0 auto;
	display: grid;

	grid-template-columns: repeat(9,70px);	

}
.sudokuBoard {

	display:flex;

	flex-direction: column;
	justify-content:center;
}

.buttons{
	
	display:flex;

	justify-content: center;

}
