
#root {

	margin:0 auto;
	font-family:'Tahoma','Arial','sans-serif';
	font-size:1.8em;
	font-weight:900;
	text-align:center;
	height:80vh;

}

p {
	font-size:5vmin;
}

.choose {
	text-align:center;	
}

button {

	font-family:'Tahoma','Arial','sans-serif';
	font-size:4vmin;
	font-weight:700;
	padding:2vmin;
	margin:2vmin;
	background-color:black;
	color:white;
	border:none;
	border-radius:10px;
	

}

.sudokuCell input{
	width:100%;
	height:100%;
	border:none;
	padding:0;
	outline:none;
	text-align:center;
	font-family:'Tahoma','Arial','sans-serif';
	font-size:6vmin;
	font-weight:500;

}
.sudokuCell{
	display:flex;
	justify-content: center;
	align-items:center;
	width:8vmin;
	height:8vmin;
	border:2px black solid;
	box-sizing:border-box;
}
.sudokuCell:nth-child(9n + 3),.sudokuCell:nth-child(9n + 6){
	border-right:5px black solid;
}

.sudokuCell:nth-child(27n + 19),
.sudokuCell:nth-child(27n + 20),
.sudokuCell:nth-child(27n + 21),
.sudokuCell:nth-child(27n + 22),
.sudokuCell:nth-child(27n + 23),
.sudokuCell:nth-child(27n + 24),
.sudokuCell:nth-child(27n + 25),
.sudokuCell:nth-child(27n + 26),
.sudokuCell:nth-child(27n + 27){
	border-bottom:5px black solid;
}


.sudokuCellWrong input{
	background-color: rgba(230,34,34,0.5);
}


.board {

	margin:0 auto;
	display: grid;
	border:5px solid black;
	

	grid-template-columns: repeat(9,8vmin);	

}
.sudokuBoard {

	display:flex;

	flex-direction: column;
	justify-content:center;

}

.buttons{
	
	display:flex;

	justify-content: center;

}
